.Apply-herosection
{
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image:url('https://www.usmle.org/sites/default/files/2021-09/apply_for_exams_0.jpg'); */
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../assets//Apply/heroapplypage.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    /* text-transform: uppercase; */
}

.apply-container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.Apply-box
{
  max-width: 1500px;
  width: 100%;
  
}

.dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    /* width: 100%; */
    margin: 20px;
    font-family: Arial, sans-serif;
    width: 80%;
    margin-top: 3rem;
 
  }

  .Apply_here_heading
  {
    font-size: 16px;
    font-weight: 700;
  }
  .apply-heading{
    width: 100%;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .apply-heading-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
    gap: 0.4rem;
    padding-top: 2rem;
  }
  .heading-line
  {
    height: 4px;
    width: 85%;
    background-color: black;
  }
   .Apply_here_heading {
    font-size: 20px;
   }
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #e2e8f0;
    padding: 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dropdown-header span.status {
    background-color: #48bb78;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 20px;
  }
  
  .dropdown-header span.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
  }
  
  .dropdown-header span.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .dropdown-header span.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .dropdown-content {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: white;
    transition: 0.3s ease-out, padding 0.3s ease-out;
  }
  
  .dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
  }
  
  .dropdown-content ul li {
    margin: 5px 0;
  }
  
  .apply-button {
    background-color: #183557;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
  }
  
  .apply-button:hover {
    background-color: #2d5078;
  }



  
  .dropdown-font
  {
    font-weight: 700;
    font-family: 14px;
  }

  @media (max-width:1100px) {
    .Apply-herosection
    {
        height: 50vh;
        
    }
   
}

@media (max-width:700px) {

  .Apply-herosection
    {
        font-size: 4rem;
        
    }
    .apply-heading-box{
      font-size: 3rem;
      padding-top: 1.5rem;
    }
}

@media (max-width:550px)
{
  .apply-heading-box{
    font-size: 2.4rem;
    padding-top: 1.5rem;
  }  
}



@media (max-width:450px) {

  .Apply-herosection
    {
        font-size: 3.5rem;
    }
    .apply-heading-box{
      font-size: 2rem;
      padding-top: 1.5rem;
    } 
}

@media (max-width:380px) {
  

  .Apply-herosection
    {
        font-size: 3rem;
    }
}


@media (max-width:340px) {
  .Apply-herosection
    {
        font-size: 2.6rem;
    }
    .apply-heading-box{
      font-size: 1.7rem;

    }
}

