.aboutusdetail
{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.aboutusdetail-heading-box
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.aboutusdetail-heading
{
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.aboutusdetail-contant
{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
}

@media (max-width:1400px) {
    .aboutusdetail-contant
{
    width: 80%;
  
}
}

@media (max-width:1100px) {
    .aboutusdetail-contant
{
    width: 90%;
  
}
}

@media (max-width:800px) {
    .aboutusdetail-heading
    {
        font-size: 2.5rem;
        /* padding: 2rem 0; */
        text-align: center;
    }
}

@media (max-width:650px) {
    .aboutusdetail-heading
    {
        width: 80%;
    }

    .aboutusdetail-contant
{

    font-size: 19px;
}
}

@media (max-width:550px)
{
    .aboutusdetail-heading
    {
        /* font-size: 1.8rem; */
    }
}

@media (max-width:465px) {
    .aboutusdetail-heading
    {
        font-size: 2.2rem;
    }
}


/* @media (max-width:380px) {
    .aboutusdetail-heading
    {
        font-size: 1.4rem;

    }
} */

@media (max-width:350px) {
    .aboutusdetail-heading
    {
        font-size: 1.5rem;
    }
    .aboutusdetail-contant
    {
    
        font-size: 18px;
    }
}