.aboutushero-section
{
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../assets/Aboutus/aboutusbg.jpg');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aboutushero-section p
{
    color: white;
    font-size: 5rem ;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width:1100px) {
    .aboutushero-section
    {
        height: 50vh;
    }
}

@media (max-width:1000px) {
    .aboutushero-section p
    {
        font-size: 3.5rem ;
    }
}

@media (max-width:750px) {
    .aboutushero-section p
    {
        font-size: 3rem ;
    }
}

@media (max-width:650px) {

    .aboutushero-section p
    {
        font-size: 2.5rem ;
    }
}

@media (max-width:430px) {
    .aboutushero-section
    {
        height: 50vh;
    }
}

@media (max-width:350px) {
    .aboutushero-section p
    {
        font-size: 2rem ;
    }
}