.icon img {
  width: auto;
  height: 7rem;
  filter: invert(0);

}

.achieve_icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem 0px;
}

.icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  height: 200px;
  padding: 2rem;
 
  border-radius: 10px;
}
.icony{
  background-color: rgb(199, 246, 170);
}
.icons{
  background-color: rgb(183, 240, 240);
}

.icony img {
  filter: contrast(0.5);
}



.achieve_title h1 {
  text-align: center;
  font-size: 3.5rem;
}

.achieve {
  width: 100%;
  padding: 0 2rem;
}

.achieve_title {
  margin-top: 3rem;
}

.icon .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
