
.achieve_title h1{
    text-align: center;
  }

  .achieve{
    width: 100%;

  }
  .achieve_title{
    margin-top: 3rem ;
  }
  .icon .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 1rem;
  }



