.boardmember-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

.boardmember-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.boardmember-area {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
    flex-wrap: wrap;
}

.boardmember-profile-cards {
    height: 330px;
    width: 280px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.157) 0px 0px 10px -2.5px;
    gap: 1rem;
}

.boardmember-img img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
}

.boardmember-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boardmember-name {
    font-size: 1.4rem;
    font-weight: 700;
    width: 80%;
    text-align: center;
    padding-bottom: 5px;
}

.boardmember-designation {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

@media (max-width:800px) {
    .boardmember-heading
    {
        font-size: 2.5rem;
        padding: 2rem 0
    }
}

@media (max-width:650px) {
    .boardmember-heading
    {
        font-size: 2rem;
        padding: 1.5rem 0
    }

    .aboutusdetail-contant
{

    font-size: 20px;
}
}

@media (max-width:600px) {
    .boardmember-heading {
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
}

@media (max-width:550px)
{
    .boardmember-heading
    {
        font-size: 1.8rem;
    }
}

@media (max-width:465px) {
    .boardmember-heading
    {
        
        padding: 1.3rem 0
    }
    .boardmember-area {
        width: 100%;
       
    }
}




@media (max-width:380px) {
    .boardmember-heading
    {
        padding: 1.5rem 0
    }
}

@media (max-width:350px) {
    .boardmember-heading
    {
        font-size: 1.6rem;
        padding: 1.5rem 0
    }
}



