.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

.cont_img img{
    width: auto;
    height:18rem;
    border-radius: 15px;
  }
  .cont_base{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem 8rem;
  }
 
  .cont_title{
    text-align: center;
    font-size:2.5rem;
    font-family: math;
    color: rgb(0, 0, 0);
    padding: 2rem 0;
  }
  .cont_txt{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    align-items: start;
    /* padding: 2rem 0; */
  }

  .cont_txt_bold
  {
    font-weight: 700;
  }
  .cont_txt p{
    width: 90%;
    text-align: justify;
    font-size: 20px;
  }