.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* padding-bottom: 2rem; */
  }

 
.cont_img img{
    width: auto;
    height:17rem;
    border-radius: 10px;
  }
  .cont_base{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 3rem;
  }


 
  .cont_title{
    color: rgb(0, 0, 0);
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
  }
  
  .card_horizontal_line
  {
    height: 3px ;
    width: 85%;
    background-color: black;
  }

  .cont_title h1
  {
    font-size: 3rem;
  }

  .cont_txt{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    align-items: center;
    line-height: 32px;
  }

  .cont_txt_bold
  {
    font-weight: 700;
  }
  .cont_txt p{
    width: 100%;
    text-align: justify;
    font-size: 21px;
  }

  @media (max-width:1460px) {
    .cont_base{
      width: 80%;
    }
  }

  @media (max-width:1375px) {
    .cont_base{
      width: 85%;
    }
  }

  @media (max-width:1200px) {
    .cont_base{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 7px;
    }

    .cont_img img{
      width: 100%;
      border-radius: 10px;
    }

    .cont_txt p{
      width: 100%;
      text-align: justify;
      font-size: 21px;
      padding-top: 1rem;
      line-height: 30px;
    }
  }

  @media (max-width:720px) {
    .cont_title h1{
      font-size: 2.5rem;
    }
  
  

    .cont_base{
      gap: 10px;
    }
  }

  @media (max-width:550px)
  {
    .cont_title h1
    {
      font-size: 2.4rem;
    }
  }

  @media (max-width:450px)
  {
    .cont_title h1
    {
      /* width: 80%; */
      font-size: 2rem;
      text-align: center;
    }

    .cont_img img{
      height:12rem;
    }

    .cont_txt p{
      font-size: 18px;
      line-height: 27px;
    }

    .cont_base{
      gap: 10px;
    }
  }

  @media (max-width:370px)
  {
    .cont_title h1
    {
      font-size: 1.9rem;
    }

    /* .cont_img img{
      height:12rem;
    } */
  }


  @media (max-width:350px)
  {
    .cont_title h1
    {
      font-size: 1.6rem;
    }
  }