
.contact-detail
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
    padding: 4rem;
    flex-wrap: wrap;
}

.contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-icon-img img
{
    height: 80px;
    /* filter: invert(1); */
}

.contact-img-title
{
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.contact-img-details
{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

@media (max-width:750px) {
    .contact-detail
    {
        gap: 3rem;
    }
}

@media (max-width:620px) {
    .contact-icon-img img
{
    height: 60px;
}
}

@media (max-width:450px) {
    .contact-icon-img img
{
    height: 40px;
}
}