.iframe-box
{
    width: 420px;
    height:540px;
}

@media (max-width:1100px) {
    .iframe-box
{
    width: 420px;
    height:340px;
}
}


@media (max-width:460px) {
    .iframe-box
{
    width: 100%;
}
}