.offer-heading
{
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
}

.offercards_horizontal_line
{
  height: 3px ;
  width: 85%;
  background-color: black;
}


.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem 3rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 5rem;
}

.card-box
{
    height: 290px;
    width: auto;
}



.offer_card {
    width: 340px;
    background-color: #fff;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 13px -4px #0000002e;
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    border-radius: 15px;
}

.offer_card a {
    color: inherit;
    text-decoration: none;
}



.offer_card__thumb {
    height: 180px;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.offer_card__thumb img {
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.offer_card:hover .offer_card__thumb {
    height: 130px;
}

.offer_card:hover .offer_card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.offer_card__body {
    position: relative;
    height: 100px;
    padding: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offer_card:hover .offer_card__body {
    height: 165px;
    display: block;
}


.offer_card__title {
    margin: 0;
    padding: 0 0 10px 0;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.offer_card__title_box
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.offer_card__description {
    position: absolute;
    left: 20px;
    right: 20px;
    /* bottom: 56px; */
    margin: 0;
    padding: 0;
    color: #000000;
    line-height: 20px;
    opacity: 0;
    font-weight: 500;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity , -webkit-transform ;
    transition: opacity , -webkit-transform ;
    transition: opacity , transform ;
    transition: opacity , transform , -webkit-transform ;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    text-align: justify;
}

.offer_card:hover .offer_card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

@media (max-width:870px) {
    .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
}
}

@media (max-width:720px) {
    .offer-heading
    {
        font-size: 2.5rem;
    }
}

@media (max-width:550px) {
    .offer-heading
    {
        font-size: 2.4rem;
    }
    
}

@media (max-width:450px) {
    .offer-heading
    {
        font-size: 2rem;
    }

    .offer_card
    {
        width: 300px;
    }
}
@media (max-width:370px) {
    .offer-heading
    {
        font-size: 1.5rem;
    }
}

@media (max-width:340px) {
    .offer_card {
        width: 275px;
    }
}