.startup-container
{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    gap: 4rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.startup-box
{
    height: 300px;
    width: 350px;
    background-color: rgb(239, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;

}

.startup-img img
{
    height: 100px;
}

.startup-title
{
    font-size: 1.5rem;
    font-weight: 600;
    width: 70%;
    text-align: center;
    padding-top: 1rem;
}


@media (max-width:850px) {
    .startup-container
    {
        flex-direction: column;
    }
}

@media (max-width:400px) {
    .startup-box
    {
        height: 270px;
        width: 320px; 
    }
}

@media (max-width:350px) {
    .startup-box
    {
        height: 240px;
        width: 290px; 
    }
}