

  .cont_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    
  }
  .cont_gallery img{
    width: auto;
    height: 10rem;
    border-radius: 10px;
  }
  .event{
   margin: 3rem 0px;
  }

  .cont_title h3
  {
    font-size: 3.5rem;
  }
 




  