

  .cont_gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    
  }
  .cont_gallery img{
    width: auto;
    height: 10rem;
  }
  .event{
   margin: 3rem 0px;
  }
 




  .icon img{
    width: auto;
    height: 10rem;

  }
  .achieve_icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    margin: 2rem 0px;
  }
  .icon{
    display: flex;
    margin: 1rem;
    border: 1px solid gray;
   padding:2rem;
  }

  .icony img{

filter: contrast(0.5);
  }

  
