.footer_top_main_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 233, 233);
}

.footer-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    max-width: 1500px;
}

.footer-container-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    width: 80%;
}

.footer-logo-img img {
    height: 130px;
}


.footer-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo-title {
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 0.8rem;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 66%;
}

.footer-navigation-heading {
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.footer-navigation {
    font-size: 17px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

.footer-right {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
}

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.2rem;
}

.footer-address-heading {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
}

.footer-contact-heading {
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 5px;
}

.footer-container-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1.4rem;
    padding-top: 2rem;
}

.footer-line {
    height: 2px;
    width: 85%;
    background-color: black;
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.socialmedialogos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease-in-out;
}

.circle img {
    height: 22px;
    filter: invert(1);
}

.circle:hover {
    filter: invert(2);
    background-color: white;
}

.copyright-txt {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

@media (max-width:1150px) {
    .footer-container-top {
        width: 90%;
    }

    .footer-line {
        width: 90%;
    }
}

@media (max-width:950px) {
    .footer-container-top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }

    .footer-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width:850px) {
    .footer-box {
        justify-content: space-between;
    }
}

@media (max-width:650px) {
    .footer-box {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-right {
        align-items: center;

    }

    .footer-contact {
        align-items: center;
    }

    .footer-address
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-center
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .footer-address-details
    {
        text-align: center;
    }
}