.Blank-space-nav {
    height: 188px;
}

.Nav_img img {
    width: auto;
    height: 6.5rem;
}

.Nav {
    
    width: 100%;
    background-color: white; 
    overflow: hidden;
}
.Nav {
    overflow: hidden;
    /* background-color: #333; */
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
.Nav_social img {
    width: auto;
    height: 2rem;
}

.Nav_contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: aliceblue;
    /* height:min-content; */
    padding: 1rem;
}

.Nav_mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;

}

.Nav_link {
    display: flex;
    padding: 12px;
    justify-content: right;
    background-color: #374758;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    gap: 0.7rem;
}




.Nav_link a {
    color: white;
    transition:all .44s ease;
}

.Nav_link a:hover {
    background: white;
    color: rgb(0, 0, 0);
} 

.Nav_contact .connect {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    margin: 0px 1rem;


}

.connect a {

    display: flex;
    align-items: center;
    color: black;
    padding: 0px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Nav_social {
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
    margin: 0px 1rem;

}

.Nav_social img {
    filter: invert(1);
    border: 1px solid white;
    border-radius: 10px;
}

.Nav_img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Nav_img img {
    border-radius: 50%;
}

.Nav_txt {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 18px;
    text-align: center;

}

.Nav_txt h1 {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}


.Nav_txt h3 {
    font-size: 2rem;
    font-weight: 600;

}

.Nav_txt h3 {
    font-size: 1,3rem;
    font-weight: 700;

}

.Nav_link a {
    padding: 0px 10px;
    font-size: 20px;
}

.Nav_marquee {
    background: rgb(94 94 74);
    color: white;
    font-size: 20px;
    font-family: math;
    width: 100%;

}

.Nav_marquee marquee {
    width: 100%;
    padding-top: 0.5rem;
}
.hamburger{
    display: none;
}
@media (max-width:720px) {
    .Nav_mid{
        display: block;
        flex-direction: column-reverse;
    }
    .Nav_txt h1,h3 , .mmmlogo{
        display: none;
    }
    .Nav{
        display: flex;
    flex-direction: column-reverse;
    }
    .Nav_link {
        display: flex;
        /* flex-direction: column; */
        height: 100vh;
        z-index: 11;
        top: 0px;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* display: none; */
        left: -100%;
        transition: .60s ease-in-out;
        
    }
    .menu-open{
        /* display: flex; */
        left: 0%;
        
    }
    .links{
     
        display: flex;
    flex-direction: column;
    gap: 6rem;
    text-align: center;
    }
    .hamburger{
        float: right;
        font-size: 27px;
        display:flex;
        font-weight: 900;
    }
    .cross{
        color: bisque;
        top: 2%;
        right: 5%;
        position: absolute;
    }
    .Nav_link a{
        font-size: 30px;
    } 
}